
body {
    font-family: Arial, Helvetica, sans-serif;
    background: url("https://www.desktopbackground.org/download/o/2014/01/21/704662_digital-art-simple-backgrounds-wallpapers-hd-desktop-and-mobile_1920x1080_h.png");
    margin:0;
    height:0;
}

.navbar-header{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #2a2b2b;
}

.row {
    margin-top: 70px;
    
}

.col-xs-12{
    padding: 25px;
    text-align: left;
    border-style: hidden;
    border-radius: 0 10px 0 10px;
    border-width: thin rgb(3, 3, 3);
    border-bottom-width:thin;
    border-top-width:thin;
    border-left-width:thin;
    border-right-width:thin;
    background: rgb(248, 248, 248);
    opacity: .80;
    margin-bottom: 110px;

}

h2{
    color: #2a2b2b;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p{
    padding:10px;
    margin-left: 10px;
}

img{
    padding:10px;
    float:left;
    opacity: 100%;
}

footer {
    background:rgb(248, 248, 248);
    position: bottom;
    padding: 15px;
    opacity: .80;
}

nav {
    opacity: .80;
}

